@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.contact {
  &__head {
    width: 57%;
    padding-top: 24px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
  }
  &__label {
    width: 40%;
    text-decoration: none;
    color: $P-text;
  }
}

label {
  text-decoration: none;
  color: $P-text;
  padding-top: 16px;
}

input {
    &:active {
        border: 0.5px solid $P-interactive;
        color: $P-text;
    }
    &:focus {
        border: 0.5px solid $P-interactive;
        color: $P-text;
    }
  @include mobile {
    height: 32px;
    padding-left: 16px;
  }
}
