@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.contact {
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 50%;
  }
  &__head {
    width: 57%;
    padding-top: 24px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      padding: 0;
    }
    &__label {
      padding: 16px 16px 4px 16px;
      width: auto;
      text-decoration: none;
      color: $P-text;
    }
  }
}

label {
  text-align: left;
  text-decoration: none;
  color: $P-text;
  padding-top: 16px;
  @include tablet {
    padding-left: 16px;
    padding-bottom: 4px;
  }
}

input {
  &:active {
    border: 0.5px solid $P-interactive;
    color: $P-text;
  }
  &:focus {
    border: 0.5px solid $P-interactive;
    color: $P-text;
  }
  @include mobile {
    height: 32px;
    padding-left: 16px;
  }
}

.formError {
  border: 1px solid red;
}
