@import '../../Styles/Partials/mixins';
@import '../../Styles/Partials/variables';
// @import '../../Styles/Partials/global';

.warehouse{
    background-color:$P-white;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 0 0;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
    background-color: $P-white;
    .warehouse-header {
        text-align: left;
        padding: 24px;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        &_label {
            padding-bottom: 24px;
            @include tablet {
                padding-bottom: 0;
            }
    
        }
        &_input {
            @include tablet {
                width: 75%;
                display: flex;
                justify-content: flex-end;
                align-content : center;
                .search-bar {
                    margin-right: 20px;
                    width: 185px;
                    @include desktop {
                        width: 274px;
                    }
                }
            }
            .add-warehouse {
                margin-top: 16px;
                text-align: center;
                color: $P-white;
                width: 100%;
                height: 36px;
                border-radius: 20px;                 
                background-color: $P-interactive;
                border: none;
                @include tablet {
                    width: 168px;
                    height: 38px;
                    margin-top: 0;
                }
             }     
        }
    }
}

