@use '../../Styles/Partials/global' as *;
@import '../../Styles/Partials/fonts';
@import '../../Styles/Partials/mixins';
@import '../../Styles/Partials/variables';


.body {
    background-color: $P-white;
    &__header {
        font-family: $Semi-bold;
        font-size: 28px;
        line-height: 36px;
        @include tablet {
            font-size: 32px;
            line-height: 40px;
        }
    } 
    &__division{
        &__line {
            border-bottom: 0.5px solid $S-cloud;
            padding-top: 24px;
        }
    } 
    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: $B-grey;
        padding: 16px 0;
        &__container {
            &__cancel {
                color: $S-slate;
                background-color: $P-white;
                border: 0.5px solid $S-slate;
                height: 30px;
                width: 120px;
                border-radius: 20px;
            } 
            &__add {
                color: $P-white;
                background-color: $P-interactive;
                border: 0.5px solid $P-interactive;
                height: 30px;
                width: 120px;
                border-radius: 20px;
                
            }
        }
    }  
}