@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.overlay{
    position: fixed;
    background-color: $P-white;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top:0px;
    @include tablet{
        background-color: rgba(19, 24, 44, 0.75);
    }

}

.modalbody{
    background-color: $P-white;
    width: 100%;
    height: 667px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;

    @include tablet{
        width: 672px;
        height: 262px;
        top:40%;
        padding-bottom: 2rem;
        // padding-right: 4rem;
    }
    
    
    &__upperpanel{
        // background-color: aqua;
        
        &__questionprompt{
            margin-bottom: 1rem;
            @include tablet{
                padding: 0rem 4rem;
            }
        }

        &__warningmessage{
            @include tablet{
                padding: 0rem 4rem;
            }
        }
        
        &__closebuttonwrapper{
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            width: 100%;
            margin-bottom: 1rem;
    
        }
    }
    
    &__actionbuttonswrapper{
        width: 100%;
        height: 36px;
        // background-color: bisque;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        
        @include tablet{
            height: 38px;
            padding: 0rem 4rem;
            justify-content: flex-end;
        }

        &__canel, &__delete{
            flex-grow: 1;
            border-radius: 20px;
            height: 100%;

            @include tablet{
                flex-grow: 0;
                width: 72px;
            }
            // background-color: aliceblue;
        }

        &__canel{
            background-color: $P-white;
            box-sizing: border-box;
            border: 1px solid $S-cloud;
        }

        &__delete{
            background: #C94515;
            color: $P-white

;
        }
    }
    
}

.closebuttonimagecloseicon{
    // background-color: aliceblue;
    width: 20px;
    height: 20px;
    // border: 2px solid red;
    // background-color:blue;
    text-align: center;
    cursor: pointer;
    // align-self: flex-end;
    @include tablet{
        width: 24px;
        height: 24px;
    }
}
