@import './fonts';

//Colors
$P-text: #13182c; //global text color
$P-interactive: #2e66e5; //Interactive elements (clickable texts and hover backgrounds)
$P-white: #ffffff;
$S-slate: #5c667e; //table columns and placeholder texts
$S-cloud: #bdc5d5; //outlines, dividers, borders, table sorting icon
$B-graphite: #232940; //nav header background and CTA button hover background
$B-grey: #f7f8f9; //page, table column and CTA background
$Green: #158463; //'In stock' label
$Red: #c94515; //'Out of Stock' label, error states and delete icon

//Fonts
$Regular: 'Titillium Regular';
$Semi-bold: 'Titillium Semi-bold';
