@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.inventorydetailsparentwrapper{
    background-color: white;
    border-radius: 4px;
    padding: 1.5rem 0rem;
    padding-bottom: 0rem;

    @include desktop{
        display: flex;
        flex-direction: column;
        height: 274px;
    }
}

.detailpageheader{
    // background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $S-cloud;

    @include tablet{
        padding: 0rem 2rem;
        padding-bottom: 1.5rem;
    }


    &__left{
        display: flex;
        align-items: center;

        .backbuttonn{
            margin-right: 0.5rem;
            display: flex;
            align-items: flex-end;
        }

        .backbuttonnicon{
            align-self: flex-end;
        }
    }

    &__right{
        display: flex;
        align-items: flex-end;

        .editinventorybuttonn{
            background-color: $P-interactive;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;

            @include tablet{
                justify-content: space-between;
                width: 81px;
                height: 38px;
                border-radius: 20px;
                padding: 8px 16px;
            }
        }
        .editiconname{
            display: none;

            @include tablet{
                display: flex;
                color: $P-white;
            }
        }
    }
}


.detailpagebody{
    // background-color: antiquewhite;
    box-sizing: border-box;
    padding: 1rem;

    @include tablet{
        // background-color: aliceblue;
        display: flex;
        justify-content: space-between;
    }

    @include desktop{
        flex-grow: 1;
    }

    &__one{
        // background-color: azure;
        width: 100%;
        height: 50%;
        margin-bottom: 0.5rem;

        @include tablet{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            height: 100%;
            border-right: 1px solid $S-cloud;
            margin-left: 1.5rem;
            margin-bottom: 0rem;
        }
    
    }

    &__two{
        // background-color: beige;
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-auto-flow: row;

        @include tablet{
            width: 50%;
            height: 100%;
            padding-left: 2rem;
        }
    
    }
}

.someplacholder{
    text-align: start;
    // margin-bottom: 0.25rem;
}

.someplacholderlabel{
    text-transform: uppercase;
}

.someplacholdercontent{
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.descriptiondetailpanel, .statusdetailpanel, .quantitydetailpanel{
    @include tablet{
        // padding-bottom: 2rem;
    }
}

.descriptiondetailpanel, .categorydetailpanel{
    @include desktop{
        height: 50%;
    }
}