@import '../../Styles/Partials/mixins';
@import '../../Styles//Partials/variables';

.warehouse-add {
    background-color:$P-white;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 0 0;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
    background-color: $P-white;
    &_header {
        display: flex;
        justify-content: center; 
        align-items: baseline;
        padding: 8px 16px 24px;
        img {
            width: 24px;
            margin-right: 4px;
        }
        @include tablet{
            border-bottom: 1px solid $S-cloud;
            justify-content: flex-start;
            padding: 8px 24px 24px;
        }
    }
}