@import "../../Styles/Partials/global";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.selected-warehouse {
  color: $P-text;
  background-color: $B-grey;

  &__title {
  font-style: normal;
  font-weight: 600;
  color: $P-text;
  font-size: 1.75rem;
  line-height: 2.25rem;;
  }

  &__card {
    padding: 1rem 1.5rem;
    border-top: 1px solid $S-cloud;

    &-info {
      display: flex;
      justify-content: space-between;
    }
  }

  &__div {
    width: 50%;
    padding-bottom: 1rem;
    font-weight: 400;
    color: $P-text;
    font-size: 0.8125rem;
    line-height: 1.25rem;

    &-container {
      display: flex;
      align-items: center;
    }

    &-title {
    font-weight: 400;
    color: $P-text;
    font-size: 0.6875rem;
    line-height: 1rem;
      font-weight: 600;
      color: $slate;
      padding-bottom: 0.3rem;
    }

    &-info--outstock-container {
    font-weight: 400;
    color: $P-text;
    font-size: 0.6875rem;
    line-height: 1rem;
      color: $red;
      border: 1px;
      border-radius: 20px;
      background: rgba(201, 69, 21, 0.07);
      width: 5rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      font-weight: 600;
      text-align: center;
    }

    &-info--instock-container {
    font-weight: 400;
    color: $P-text;
    font-size: 0.6875rem;
    line-height: 1rem;
      color: $green;
      border: 1px;
      border-radius: 20px;
      background: rgba(21, 132, 99, 0.07);
      width: 3.5rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      font-weight: 600;
      text-align: center;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}