@import "../../Styles/Partials/global";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.warehouse-list {
  ul {
    list-style: none;
    padding: 0;
    .warehouse-list_info {
      border-top: 1px solid $S-cloud;
      display: flex;
      justify-content: space-around;
      align-items:flex-start;
      padding: 16px 16px 0;
      &-left,
      &-right {
        flex: 1;
        .info {
            text-align: left;
            padding: 8px;
            .name {
                display: flex;
                align-content: center;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            h4 {
                padding-bottom: 4px;
            }
            h3, p {
              margin: 0;
              font-size: 13px;
            }
          }    
      }
    }
    .warehouse-list_update-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
    }
  }
}
