@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.editwarehouse {
  background-color: $P-white;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 0 0;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  background-color: $P-white;
  &__wrapper {
    &__head {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 24px 24px 16px;
      &__img {
        padding-right: 8px;
        max-width: 24px;
      }
      &__title {
        &__name {
        padding-left: 10px;
        }
      } 
    }
    &__division {
      &__line {
        border: 0.5px solid $S-cloud;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    &__wrapper {
      @include tablet {
        display: flex;
      }
       @include desktop {
        display: flex;
      }
      
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $B-grey;
    padding: 16px 0;
    @include tablet {
      justify-content: flex-end;
      gap: 16px;
    }
    &__container {
      &__cancel {
        color: $S-slate;
        background-color: $P-white;
        border: 0.5px solid $S-slate;
        height: 30px;
        width: 120px;
        border-radius: 20px;
        &:hover {
          border: 0.5px solid $P-interactive;
          cursor: pointer;
          color: $P-interactive;
          font-family: $Semi-bold;
        }
        @include tablet {
          height: 36px;
          width: 75px;
        }
      }

      &__save {
        color: $P-white;
        background-color: $P-interactive;
        border: 0.5px solid $P-interactive;
        height: 30px;
        width: 120px;
        border-radius: 20px;
        &:hover {
          background-color: $B-graphite;
          cursor: pointer;
          font-family: $Semi-bold;
        }
        @include tablet {
          height: 36px;
          width: 100px;
        }
      }
    }
  }
}
