@use "../../Styles/Partials/global" as *;
@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.details {
  &__subheader {
    padding: 16px;
    &__title {
      font-family: $Semi-bold;
      font-size: 20px;
      line-height: 28px;
      @include tablet {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    &__label {
      padding-bottom: 4px;
      display: flex;
      flex-direction: column;
      font-family: $Semi-bold;
      font-size: 13px;
      line-height: 20px;
      text-decoration: none;
      @include tablet {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  &__division {
    &__line {
      border-bottom: 0.5px solid $S-cloud;
      padding-top: 24px;
    }
  }
}

input {
  border-radius: 20px;
  border: 1px solid $S-slate;
  color : $S-slate;
  margin-top: 4px;
  &.item-name {
    padding: 16px;
    &:active {
      border: 1px solid $P-interactive;
      color: $P-text;
    }
    &:hover {
      border: 1px solid $P-interactive;
      color: $P-text;
    }
  }
   &.description {
    padding: 16px;
    &:active {
      border: 1px solid $P-interactive;
      color: $P-text;
    }
    &:hover {
      border: 1px solid $P-interactive;
      color: $P-text;
    }
  }
}

select {
  margin-top: 4px;  
  border-radius: 20px;
  border: 1px solid $S-slate;
  &.category {
    padding: 5px 16px;
    &:active {
      border: 1px solid $P-interactive;
      color: $P-text;
    }
    &:hover {
      border: 1px solid $P-interactive;
      color: $P-text;
    }
    
  }
}

