@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";


.thefooter{
  // position: absolute;
  // bottom: 2rem;
  // left: 50%;
  // transform: translateX(-50%);

  display: flex;
  // height: 4rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  &__text{
      font-size: 0.75rem;
      color: $S-slate;
  }
}