@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/mixins";


.footer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
transform: translateX(-50%);

  &__text {
      font-size: 0.75rem;
      color: $S-slate;
  }
}