@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/mixins";
@import "../../Styles/Partials/variables";

.sortingbarwrappper{
    display: none;

    @include tablet{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 40px;
    }
}

.fistsort{
    @include tablet{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    }
}

.secondsort{
    @include tablet{
    width: 100px;
    display: flex;
    align-items: center;
    }
}

.sortingbar{
    @include tablet{
    display: flex;
    align-items: center;
    }
}

.sortingbarname{
    @include tablet{
    text-transform: uppercase;
    }
}

.sortingbarsorticon{
    @include tablet{
    width: 16px;
    }
}

.inventorylabel, .categorylabel, .statuslabel, .qtylabel, .warehouselocationlabel{
    @include tablet{
        display: none;
    }
}
.inventorywrapper, .inventorypanel{
    @include tablet{
        flex-grow: 1;
        margin-right: 2rem;
        width: 120px;
    }
}

.categorywrapper, .categorypanel{
    @include tablet{
        flex-grow: 1;
        width: 70px;
        margin-right: 3.5rem;
    }
}

.statuswrapper, .statuspanel{
    @include tablet{
        flex-grow: 1;
        width: 70px;
        margin-right: 2.5em;
    }
}

.qtywrapper, .qtypanel{
    @include tablet{
        flex-grow: 0.25;
        width: 70px;
        margin-right: 1em;
    }
}

.warehousewrapper, .warehousepanel{
    @include tablet{
        flex-grow: 1;
        width: 100px;
    }
}


.secondsort, .row__second{
    @include tablet{
        margin-left: 1rem;
    }
}


.placeholderpanel{
    @include tablet{
        display: none;
    }
}

.row{
    border-top: 1px solid $S-cloud;
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1.5rem;



    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        height: 3rem;
        padding: 0rem;

        &:hover{
            background-color: rgba(46, 102, 229, 0.07);
        }

    }

    &__first{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-auto-flow: column;

        @include tablet{
            width: auto;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
        }
    }

    &__second{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include tablet{
            width: 100px;
            justify-content: flex-start;
            gap: 1rem;
        }

        
    }
}

.contentpanel{
    text-align: start;
    margin-bottom: 1rem;

    &__name{
        color: #5C667E;
        text-transform: uppercase;
        color:$S-slate;
        font-size: 11px;
    }

    &__value{
        font-size: 13px;
    }

    @include tablet{
        align-items: center;
        margin-bottom: 0rem;   
    }
}

.inventorypanel, .categorypanel, .statuspanel, .qtypanel, .warehousepanel{
    @include tablet{
        display: flex;
    }
}

.inventorylabelnamebuttonwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itembutton{
    &__name{
        color:$P-interactive;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
    }

}

.modbutton{
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

